@font-face {
    font-family: 'Liberation Sans';
    font-weight: normal;
    font-style: normal;
    src:  url('LiberationSans-Regular.ttf');
}

@font-face {
    font-family: 'Liberation Sans';
    font-weight: bold;
    font-style: normal;
    src:  url('LiberationSans-Bold.ttf');
}

@font-face {
    font-family: 'Liberation Sans';
    font-weight: normal;
    font-style: italic;
    src:  url('LiberationSans-Italic.ttf');
}

@font-face {
    font-family: 'Liberation Sans';
    font-weight: bold;
    font-style: italic;
    src:  url('LiberationSans-BoldItalic.ttf');
}

@font-face {
    font-family: 'Liberation Serif';
    font-weight: normal;
    font-style: normal;
    src:  url('LiberationSerif-Regular.ttf');
}

@font-face {
    font-family: 'Liberation Serif';
    font-weight: bold;
    font-style: normal;
    src:  url('LiberationSerif-Bold.ttf');
}

@font-face {
    font-family: 'Liberation Serif';
    font-weight: normal;
    font-style: italic;
    src:  url('LiberationSerif-Italic.ttf');
}

@font-face {
    font-family: 'Liberation Serif';
    font-weight: bold;
    font-style: italic;
    src:  url('LiberationSerif-BoldItalic.ttf');
}

@font-face {
    font-family: 'Liberation Mono';
    font-weight: normal;
    font-style: normal;
    src:  url('LiberationMono-Regular.ttf');
}

@font-face {
    font-family: 'Liberation Mono';
    font-weight: bold;
    font-style: normal;
    src:  url('LiberationMono-Bold.ttf');
}

@font-face {
    font-family: 'Liberation Mono';
    font-weight: normal;
    font-style: italic;
    src:  url('LiberationMono-Italic.ttf');
}

@font-face {
    font-family: 'Liberation Mono';
    font-weight: bold;
    font-style: italic;
    src:  url('LiberationMono-BoldItalic.ttf');
}

@font-face {
    font-family: 'Liberation Sans Narow';
    font-weight: normal;
    font-style: normal;
    src:  url('LiberationSansNarrow-Regular.ttf');
}

@font-face {
    font-family: 'Liberation Sans Narrow';
    font-weight: bold;
    font-style: normal;
    src:  url('LiberationSansNarrow-Bold.ttf');
}

@font-face {
    font-family: 'Liberation Sans Narrow';
    font-weight: normal;
    font-style: italic;
    src:  url('LiberationSansNarrow-Italic.ttf');
}

@font-face {
    font-family: 'Liberation Sans Narrow';
    font-weight: bold;
    font-style: italic;
    src:  url('LiberationSansNarrow-BoldItalic.ttf');
}

